<div class="container">
  <div>
    <h2>Modifier un Film :</h2>
  </div>
  <form>
    <!-- <div  hidden class="col-sm-2 col-md-2 col-lg-2"> -->
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>ID film</label>
      <input
        readonly
        type="text"
        [(ngModel)]="currentFilm.idFilm"
        name="idFilm"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom film</label>
      <input
        type="text"
        [(ngModel)]="currentFilm.nomFilm"
        name="nomFilm"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label> Rate film</label>
      <input
        type="number"
        [(ngModel)]="currentFilm.rateFilm"
        name="rateFilm"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date de sortie</label>
      <input
        type="date"
        [ngModel]="currentFilm.dateSortie | date : 'yyyy-MM-dd'"
        (ngModelChange)="currentFilm.dateSortie = $event"
        name="dateSortie"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Categorie</label>
      <select
        class="form-control form-control-lg"
        id="idCat"
        name="idCat"
        [(ngModel)]="updatedGenId"
      >
        <option *ngFor="let gen of genre" [value]="gen.idGenre">
          {{gen.nomGenre}}
        </option>
      </select>
    </div>
    <div class="mt-2">
      <button type="submit" (click)="UpdateFilm()" class="btn btn-success">
        Modifer
      </button>
    </div>
  </form>
</div>
